.bigt {
    font-size: 38px
}

body, html {
    margin: 1;
    padding: 1;
    border: none;
    font-size: 20px;
    scroll-behavior: smooth;
    scroll-padding: 50px;
}

* {
    margin: 0;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    padding-top: 0.4vh
}

.offset {
    position: relative;
    margin: 25px
}

.nanooffset {
    position: relative;
    margin: 3px;
}

body {
    background-image: url('./photos/bg.jpg');
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: 0;
}

::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-button,::-webkit-scrollbar-track{background-color:#00000000}
::-webkit-scrollbar-corner{background-color:#f1f1f1}
::-webkit-scrollbar-thumb{background-color:#ffcc00;border-radius:4px}
::-webkit-scrollbar-thumb:hover{background-color:#967800}
::-webkit-scrollbar-thumb:active{background-color:#ffdd57}
::-webkit-scrollbar-button:start,::-webkit-scrollbar-button:end{display:none}
a{color:#00ff2a;padding:0}p{color:#fff}.nodejs{color:#fca800}.nodejst{color:#e8b754;padding:0}.other{color:#e7e7e7}.hello{color:#d0fffe}.root{color:#ffafa6}.soci{color:#ff9dff}