@font-face {
    font-family: 'cnd';
    src: url('../fonts/cannonade.ttf') format('truetype');
}

@font-face {
    font-family: 'cndbold';
    src: url('../fonts/cannonade-bold.ttf') format('truetype');
}

.cndbold {
    font-size: xx-large;
    margin-left: 10px;
    font-family: 'cndbold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cnd {
    font-size: large;
    margin-left: 2px;
    padding-top: 3px;
    font-family: 'cnd', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    margin-top: 3px;
}

body {
    background-image: url('./bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    padding: 0;
    scroll-behavior: smooth; /* Добавляем плавный скролл */
    scroll-padding: 50px; /* Отступы от краев окна браузера */
}

* {
    margin: 0;
    color: whitesmoke;
}

.offset {
    position: relative;
    padding: 30px
}

.minioffset {
    position: relative;
    padding: 3px;
}

.normoffset {
    position: relative;
    padding: 12px;
}

.kdpcont {
    display: flex;
    align-items: center;
    padding-bottom: 4%
}

.kdpimgcont {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.kdptxtcont {
    text-align: center;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-button {
    background-color: #ccc;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

::-webkit-scrollbar-thumb:active {
    background-color: #877;
}

::-webkit-scrollbar-button:start, 
::-webkit-scrollbar-button:end {
    display: none;
}